<form role="form-inline" style="margin-top: 20px; height: 70px">
    <div class="form-group" style="width: 300px; float: left">
        <label for="exampleInputEmail1">Период</label>
        <input type="email" class="form-control" id="searchRange" placeholder="Период">
    </div>
    <div class="form-group" style="float: left; width: 300px;">
        <label for="exampleInputPassword1">Название</label>
        <select class="form-control">
            <option value="GAZP">Газпром
            </option>
            <option value="GAZP">Лукойл
            </option>
            <option value="GAZP">Автоваз
            </option>
        </select>
    </div>
    <button type="submit" class="btn btn-default" style="margin-top: 24px">Искать</button>
</form>

<h2>Найденные тикеры
</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Ticker</th>
            <th>Date</th>
            <th>Open</th>
            <th>Close</th>
            <th>High</th>
            <th>Low</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var tickerInfo in ViewBag.TickerData){
            <tr>
                <td>@tickerInfo.Ticker</td>
                <td>@tickerInfo.DateTime</td>
                <td>@tickerInfo.Open</td>
                <td>@tickerInfo.Close</td>
                <td>@tickerInfo.High</td>
                <td>@tickerInfo.Low</td>
            </tr>
        }

    </tbody>
</table>
@section scripts
{
   <script type="text/javascript">
       $(function () {
           $('#searchRange').daterangepicker();
       })
   </script>
}