<div class="jumbotron">
    <h1>FinWebTask</h1>
    <p class="lead">Здесь какой-то умный текст</p>
    <p><a class="btn btn-primary btn-large">Обновить данные</a></p>
</div>
<h2>
    Последние загруженные данные
</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Ticker</th>
            <th>Date</th>
            <th>Open</th>
            <th>Close</th>
            <th>High</th>
            <th>Low</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var tickerInfo in ViewBag.TickerData){
            <tr>
                <td>@tickerInfo.Ticker</td>
                <td>@tickerInfo.DateTime</td>
                <td>@tickerInfo.Open</td>
                <td>@tickerInfo.Close</td>
                <td>@tickerInfo.High</td>
                <td>@tickerInfo.Low</td>
            </tr>
        }

    </tbody>
</table>
